<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-white fixed-top bg-white">
    <a class="navbar-brand" href="#">TunisiaSporty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link "  th:href="@{/categories/list}" aria-haspopup="true" aria-expanded="false">Categories</a>

            </li>

            <li class="nav-item ">
                <a class="nav-link "  th:href="@{/marques/list}" aria-haspopup="true" aria-expanded="false">Marques</a>

            </li>
            <li class="nav-item ">
                <a class="nav-link "  th:href="@{/produits/list}" aria-haspopup="true" aria-expanded="false">Produits</a>

            </li>
            <li class="nav-item ">
                <a class="nav-link "  th:href="@{/commandes/list}" aria-haspopup="true" aria-expanded="false">Commandes</a>

            </li>
            <li class="nav-item ">
                <a class="nav-link "  th:href="@{/contacts/list}" aria-haspopup="true" aria-expanded="false">Contacts</a>

            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>